In [85]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import category_encoders as ce
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [86]:
data_crops = pd.read_csv("apy.csv")
data_crops

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [87]:
print(len(data_crops['State_Name'].unique()))  
print(len(data_crops['District_Name'].unique()))
print(len(data_crops['Season'].unique()))
print(len(data_crops['Crop'].unique()))

33
646
6
124

In [88]:
'''While converting the non-numericdata (categorical) to numeric data.....we ought to compare one-hot encoding 
and binary encoding
Fields considered are
1.states
2.districts
3.crop
4.seasons
'''

'While converting the non-numericdata (categorical) to numeric data.....we ought to compare one-hot encoding \nand binary encoding\nFields considered are\n1.states\n2.districts\n3.crop\n4.seasons\n'

In [89]:
#ONE HOT ENCODING

ohe = ce.OneHotEncoder()
d_1 = ohe.fit_transform(data_crops)
d_1.shape

(246091, 812)

In [90]:
#BINARY ENCODING

be = ce.BinaryEncoder()
data = be.fit_transform(data_crops)   #if none columns are specified the method considers all the string attributes by default
data.shape

(246091, 33)

In [91]:
'''reducing the column count from 812 to 33 by using the binary encoding'''


#converting the dataframe to arrays
Y = data.iloc[:,32]
X = data.drop('Production',axis = 'columns')
print(X)
print(Y)

        State_Name_0  State_Name_1  State_Name_2  State_Name_3  State_Name_4  \
0                  0             0             0             0             0
1                  0             0             0             0             0
2                  0             0             0             0             0
3                  0             0             0             0             0
4                  0             0             0             0             0
...              ...           ...           ...           ...           ...
246086             0             1             0             0             0
246087             0             1             0             0             0
246088             0             1             0             0             0
246089             0             1             0             0             0
246090             0             1             0             0             0

        State_Name_5  State_Name_6  District_Name_0  District_Name_1  \
0                  0             1                0                0
1                  0             1                0                0
2                  0             1                0                0
3                  0             1                0                0
4                  0             1                0                0
...              ...           ...              ...              ...
246086             0             1                0                1
246087             0             1                0                1
246088             0             1                0                1
246089             0             1                0                1
246090             0             1                0                1

        District_Name_2  ...  Season_3  Crop_0  Crop_1  Crop_2  Crop_3  \
0                     0  ...         1       0       0       0       0
1                     0  ...         1       0       0       0       0
2                     0  ...         1       0       0       0       0
3                     0  ...         0       0       0       0       0
4                     0  ...         0       0       0       0       0
...                 ...  ...       ...     ...     ...     ...     ...
246086                0  ...         1       0       0       0       0
246087                0  ...         1       0       0       1       0
246088                0  ...         0       0       0       0       0
246089                0  ...         0       0       0       0       0
246090                0  ...         0       0       0       1       0

        Crop_4  Crop_5  Crop_6  Crop_7      Area
0            0       0       0       1    1254.0
1            0       0       1       0       2.0
2            0       0       1       1     102.0
3            0       1       0       0     176.0
4            0       1       0       1     720.0
...        ...     ...     ...     ...       ...
246086       0       0       1       1     306.0
246087       0       0       0       0     627.0
246088       1       0       0       0     324.0
246089       0       0       1       1  279151.0
246090       0       0       0       0     175.0

[246091 rows x 32 columns]
0           2000.0
1              1.0
2            321.0
3            641.0
4            165.0
            ...
246086       801.0
246087       463.0
246088     16250.0
246089    597899.0
246090        88.0
Name: Production, Length: 246091, dtype: float64

In [92]:
#spliting the data into X and Y

X_train,X_test,Y_train,Y_test = train_test_split(X, Y, train_size = 0.8, test_size = 0.2)

In [ ]:
#finding and replacing the missing values

In [94]:

# Defining the Random Regressor

regressor = RandomForestRegressor(n_estimators = 10)
regressor.fit(X_train,Y_train)
print("trained")

trained